*{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

h2{
    text-align: center;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    display: inline;
}

li a{
    padding: 10px;
    border: 1px solid black;
}
.nav{
    background-color: aqua;
}